<div class="container card-white">
  <form autocomplete="off" #jobForm="ngForm" (ngSubmit)="addJob(jobForm)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{titlePage}}</h1>
        <hr>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="title" #title="ngModel" [(ngModel)]="job.title" required>
          <label for="float-input">Title</label>
        </span>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="position" #position="ngModel" [(ngModel)]="job.position" required>
          <label for="float-input">Position</label>
        </span>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <br/>
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="location" #position="ngModel" [(ngModel)]="job.location" required>
          <label for="float-input">Location</label>
        </span>
      </div>

      <!--
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <br/>
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="publication" #publication="ngModel" [(ngModel)]="job.publication" required>
          <label for="float-input">Publication</label>
        </span>
      </div>
    -->

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <br/>
        <span class="ui-float-label">
          <p-calendar dateFormat="dd/mm/yy" id="float-input" name="publication" #publication="ngModel" [showIcon]="true" [(ngModel)]="job.publication"
            required></p-calendar>
          <label for="float-input">Publication</label>
        </span>
      </div>

      <!--
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <br/>
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="status" #status="ngModel" [(ngModel)]="job.status" required>
          <label for="float-input">Status</label>
        </span>
      </div>
    -->

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Status</label>
        <p-dropdown name="status" id="float-input" [options]="statusList" placeholder="Select status" [autoWidth]="false" [(ngModel)]="job.status"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <br/>
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="organization" #organization="ngModel" [(ngModel)]="job.organization"
            required>
          <label for="float-input">Organization</label>
        </span>
      </div>

      <div class="ui-g-12">
        <h3>Description</h3>
        <p-editor name="description" #description="ngModel" [(ngModel)]="job.description" [style]="{'height':'320px'}" required>
          <p-header>
            <span class="ql-formats">
              <select class="ql-size">
                <option value="small">Petit</option>
                <option selected></option>
                <option value="large">Sous-titre</option>
                <option value="huge">Titre</option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold" aria-label="Bold"></button>
              <button class="ql-italic" aria-label="Italic"></button>
              <button class="ql-underline" aria-label="Underline"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <select title="Text Alignment" class="ql-align">
                <option selected>Gauche</option>
                <option value="center" label="Center"></option>
                <option value="right" label="Right"></option>
                <option value="justify" label="Justify"></option>
              </select>
            </span>
            <span class="ql-formats">
              <button aria-label="Link" class="ql-link"></button>
            </span>
          </p-header>
        </p-editor>
      </div>

       <div class="ui-g-12">
          <button pButton icon="fa-arrow-circle-left" type="button" label="Back" (click)="backClicked()" class="ui-button-secondary"></button>
        <button pButton type="submit" label="Save job" class="ui-button-info" [disabled]="jobForm.invalid"></button>
      </div>

    </div>

  </form>
</div>

