<div class="container card-white">
  <div class="ui-g">
    <div class="ui-g-12">

      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <button pButton type="submit" label="Add Schedule" icon="fa-plus" class="ui-button-success" [routerLink]="['/schedules/newschedule']"></button>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Applicants">
      </div>

      <p-dataTable [value]="schedulesweb" [responsive]="true" emptyMessage="No schedules available." [rows]="15" [paginator]="true"
        [globalFilter]="gb" #table>

        <p-column field="title" header="Title" [sortable]="true"></p-column>

        <p-column header="Start" styleClass="col-size">
          <ng-template let-schedule="rowData" pTemplate="body">
            <span>{{ schedule.start | date:'dd/MM/yyyy HH:mm' }}</span>
          </ng-template>
        </p-column>

        <p-column header="End" styleClass="col-size">
          <ng-template let-schedule="rowData" pTemplate="body">
            <span>{{ schedule.finish | date:'dd/MM/yyyy HH:mm' }}</span>
          </ng-template>
        </p-column>

        <p-column field="notes" header="Notes"></p-column>

        <!--
        <p-column header="Publication" styleClass="col-size">
          <ng-template let-job="rowData" pTemplate="body">
            <span>{{ job.publication | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
      -->


        <p-column styleClass="col-size">
          <ng-template let-schedule="rowData" pTemplate="body">
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/schedules', schedule.code]"
              [disabled]="!auth.havePermission('ROLE_ADD_SCHEDULE')"></button>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDelete(schedule)" [disabled]="!auth.havePermission('ROLE_REMOVE_SCHEDULE')"
              class="ui-button-danger"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <p-growl [(value)]="msgs"></p-growl>

</div>
