<div class="container card-white">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="search()">
      <div class="ui-g-12 ui-fluid" class="form-inline">
        <h2> Position - {{title}}</h2>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Applicants">
      </div>

      <p-dataTable [value]="applicants" [responsive]="true" [rows]="15" [paginator]="true" emptyMessage="No applicants available."
        [globalFilter]="gb" #table>


        <p-column field="fullname" header="Name" [sortable]="true" styleClass="col-size"></p-column>

        <p-column header="Applied" styleClass="col-size" [sortable]="true" field="applicant_date">
          <ng-template let-appl="rowData" pTemplate="body">
            <small>{{ appl.applicant_date | date:'dd/MM/yyyy' }}</small>
          </ng-template>
        </p-column>

        <p-column header="Contact">
          <ng-template let-appl="rowData" pTemplate="body">
            <span>{{appl.phone_number}}</span>
            <br>
            <small>
              <a target="_blank" href="mailto:{{appl.email}}">{{appl.email}}</a>
            </small>
          </ng-template>
        </p-column>


        <p-column field="status" header="Status" styleClass="col-size" [sortable]="true"></p-column>


        <p-column styleClass="col-size" header="Rating">
          <ng-template let-appl="rowData" pTemplate="body">
            <p-rating [(ngModel)]="rating1" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
            <p-rating [(ngModel)]="rating2" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
            <p-rating [(ngModel)]="rating3" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
          </ng-template>
        </p-column>

        <p-column styleClass="col-size">
          <ng-template let-appl="rowData" pTemplate="body">
            <button pButton icon="fa-balance-scale" pTooltip="Evaluation of the candidate" tooltipPosition="top" [routerLink]="['/applicants', appl.code]"></button>
            <button pButton icon="fa-calendar" pTooltip="Add the Applicant to an Interview Schedule" tooltipPosition="top" [routerLink]="['/schedules/newschedule', appl.fullname]"
              [disabled]="!auth.havePermission('ROLE_ADD_SCHEDULE')"></button>
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/applicants', appl.code]"
              [disabled]="!auth.havePermission('ROLE_ADD_APPLICANT')"></button>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDelete(appl)" [disabled]="!auth.havePermission('ROLE_REMOVE_APPLICANT')"
              class="ui-button-danger"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Back" (click)="backClicked()"></button>
    </div>

  </div>


  <p-growl [(value)]="msgs"></p-growl>


</div>
