<div class="container card-white">

  <div class="ui-g">
    <div class="ui-g-12">

      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Applicants">
        <i class="fa fa-bars"></i>
        <span> <strong>{{title}}</strong> </span>
      </div>

      <p-dataTable [value]="applicants" [responsive]="true" [rows]="15" [paginator]="true" emptyMessage="No applicants available."
        [globalFilter]="gb" #table>


        <p-column field="applicant.fullname" header="Name" [sortable]="true" styleClass="col-size-name"></p-column>

        <p-column header="Applied" [sortable]="true" field="applicant_date" styleClass="col-size-date">
          <ng-template let-appl="rowData" pTemplate="body">
            <small>{{ appl.applicant.applicant_date | date:'dd/MM/yyyy' }}</small>
          </ng-template>
        </p-column>

        <p-column header="Contact">
          <ng-template let-appl="rowData" pTemplate="body">
            <span>{{appl.applicant.phone_number}}</span>
            <br>
            <small>
              <a target="_blank" href="mailto:{{appl.applicant.email}}">{{appl.applicant.email}}</a>
            </small>
          </ng-template>
        </p-column>


        <p-column field="applicant.status" header="Status" [sortable]="true" ></p-column>

        <p-column field="applicant.job.title" header="Position" [sortable]="true" *ngIf="!codeJob"></p-column>


        <p-column styleClass="col-size" header="Notes" field="score" [sortable]="true" styleClass="col-size-rating">
            <ng-template let-applscore="rowData" pTemplate="body">
              <p-rating [ngModel]="applscore.score" binary="true" [cancel]="false" readonly="false" name="scorerating" #scorerating="ngModel" pTooltip="Evaluated as {{applscore.score}}" tooltipPosition="top"></p-rating>
            </ng-template>
          </p-column>

          <p-column styleClass="col-size" header="Questions" field="score_questions" [sortable]="true" styleClass="col-size-rating">
              <ng-template let-applscore="rowData" pTemplate="body">
                <p-rating [ngModel]="applscore.score_questions" binary="true" [cancel]="false" readonly="false" name="scorerating" #scorerating="ngModel" pTooltip="Evaluated as {{applscore.score_questions}}" tooltipPosition="top"></p-rating>
              </ng-template>
            </p-column>

        <p-column styleClass="col-size">
          <ng-template let-appl="rowData" pTemplate="body">
            <button pButton icon="fa-balance-scale" pTooltip="Evaluation of the candidate" tooltipPosition="top" [routerLink]="['/applicantnotes', appl.code]"></button>
            <button pButton icon="fa-calendar" pTooltip="Add the Applicant to an Interview Schedule" tooltipPosition="top" [routerLink]="['/schedules/newschedule', appl.applicant.fullname]"
              [disabled]="!auth.havePermission('ROLE_ADD_SCHEDULE')"></button>
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/applicants', appl.applicant.code]"
              [disabled]="!auth.havePermission('ROLE_ADD_APPLICANT')"></button>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDeleteApplicant(appl)" [disabled]="!auth.havePermission('ROLE_REMOVE_APPLICANT')"
              class="ui-button-danger"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Back" (click)="backClicked()"></button>
    </div>

  </div>


  <p-growl [(value)]="msgs"></p-growl>


</div>
