<div class="container card-white">
  <div class="ui-g">
      <div class="ui-g-12">
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <button pButton type="submit" label="Add Job" icon="fa-plus" class="ui-button-success" [routerLink]="['/jobs/newjob']"></button>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Jobs">
        <i class="fa fa-bars"></i>
        <span> <strong>List of Jobs</strong> </span>
      </div>

      <p-dataTable [value]="jobsweb" [responsive]="true" [rows]="15" [paginator]="true" emptyMessage="No jobs available." [globalFilter]="gb"
        #table>

        <p-column field="title" header="Title" [sortable]="true"></p-column>

        <p-column field="position" header="Position" [sortable]="true"></p-column>

        <p-column field="location" header="Location" [sortable]="true"></p-column>

        <p-column header="Publication" styleClass="col-size" [sortable]="true">
          <ng-template let-job="rowData" pTemplate="body">
            <span>{{ job.publication | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>

        <p-column field="status" header="Status" styleClass="col-size" [sortable]="true"></p-column>

        <p-column styleClass="col-size-btn-job">
          <ng-template let-job="rowData" pTemplate="body">
            <button pButton icon="fa-user" label="Applicants" pTooltip="Applicants for {{job.title}}" tooltipPosition="top" [routerLink]="['/applied', job.code, job.title]"></button>
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/jobs', job.code]"
              [disabled]="!auth.havePermission('ROLE_ADD_JOB')"></button>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDelete(job)" [disabled]="!auth.havePermission('ROLE_REMOVE_JOB')"
              class="ui-button-danger"></button>

          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
  </div>

  <p-sidebar [(visible)]="display" [fullScreen]="true" [baseZIndex]="10000" #title>
    <h1 style="font-weight:normal">{{jobTitle}}</h1>
    <hr>
    <p innerHtml="{{ jobDescription }}">
  </p-sidebar>

  <p-growl [(value)]="msgs"></p-growl>

</div>
