<div class="container card-white">

  <!-- <form autocomplete="off" #applicantForm="ngForm" (ngSubmit)="save(applicantForm)"> -->
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header={{titlePage}} [style]="{'height':'100%'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <Label>Title : </Label>
          <span>{{applicant.applicant.job.title}}</span>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <Label>Position : </Label>
          <span>{{applicant.applicant.job.position}}</span>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <Label>Location : </Label>
          <span>{{applicant.applicant.job.location}}</span>
        </div>

        <div class="ui-g-12 ui-fluid">
          <hr>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <Label>Phone : </Label>
          <span>{{applicant.applicant.phone_number}}</span>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <Label>Status : </Label>
          <span>{{applicant.applicant.status}}</span>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <Label>Date : </Label>
          <span>{{applicant.applicant.applicant_date | date:'dd/MM/yyyy'}}</span>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <Label>email : </Label>
          <a target="_blank" href="mailto:{{applicant.applicant.email}}">{{applicant.applicant.email}}</a>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <Label>Profile URL : </Label>
          <a target="_blank" href="{{applicant.applicant.profile_url}}">{{applicant.applicant.profile_url}}</a>
        </div>

        <div class="ui-g-12">
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/applicants', applicant.applicant.code]"
            [disabled]="!auth.havePermission('ROLE_ADD_APPLICANT')"></button>
        </div>


      </p-panel>

    </div>

    <!--
              Block to add notes on applicant
            -->

    <div class="ui-g-12">
      <p-tabView>
        <p-tabPanel header="Notes" leftIcon="fa-edit">

          <form autocomplete="off" #applicantForm="ngForm" (ngSubmit)="updateApplicant(applicantForm)">

            <div class="ui-g-12 ui-md-1 ui-fluid">
              <label>Score</label>
              <p-spinner size="5" [(ngModel)]="applicant.score" [min]="0" [max]="5" name="score" #score="ngModel"></p-spinner>
              <p-rating [(ngModel)]="applicant.score" [cancel]="false" readonly="false" name="score" #score="ngModel"></p-rating>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid"></div>

            <div class="ui-g-12 ui-md-8 ui-fluid">
              <div>
                <label>Notes</label>
              </div>
              <textarea [rows]="10" style="width:100%;" pInputTextarea name="notes" #notes="ngModel" [(ngModel)]="applicant.notes"></textarea>
            </div>

            <div class="ui-g-12">
                <button pButton icon="fa-arrow-circle-left" type="button" label="Back" (click)="backClicked()" class="ui-button-secondary"></button>
              <button pButton type="submit" label="Save evaluation" class="ui-button-info" [disabled]="applicantForm.invalid"></button>
            </div>
          </form>

        </p-tabPanel>

        <p-tabPanel header="Questions" leftIcon="fa-question-circle">


          <!--
              Block to add questions on applicant
            -->

          <div class="ui-g">
            <div class="ui-g-12">

              <form autocomplete="off" #formApplicantQuestions="ngForm" (ngSubmit)="addApplicantQuestinons(formApplicantQuestions)">


                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label>Type of questions</label>
                  <p-dropdown name="type_question" id="float-input" [options]="type_questionFilterDropdown" placeholder="Select type questions"
                    [autoWidth]="false" filter="true" [(ngModel)]="applicantNewQuestion.type_question" (ngModelChange)="onSelect(applicantNewQuestion.type_question)"
                    editable="false"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-7 ui-fluid">
                  <label>Questions</label>
                  <p-dropdown name="question" id="float-input" [options]="questionFilter" placeholder="Select type questions" [autoWidth]="false"
                    filter="true" [(ngModel)]="applicantNewQuestion.question" editable="false"></p-dropdown>
                </div>


                <div class="ui-g-12 ui-md-8 ui-fluid">
                  <div>
                    <label>Notes</label>
                  </div>
                  <textarea [rows]="5" style="width:100%;" pInputTextarea name="notes1" #notes1="ngModel" [(ngModel)]="applicantNewQuestion.notes"></textarea>
                </div>

                <div class="ui-g-12 ui-md-2 ui-fluid">
                  <label>Score</label>
                  <p-spinner size="5" [(ngModel)]="applicantNewQuestion.score" [min]="0" [max]="5" name="newscore" #newscore="ngModel"></p-spinner>
                  <p-rating [(ngModel)]="applicantNewQuestion.score" [cancel]="false" readonly="false" name="newscorestar" #newscorestar="ngModel"></p-rating>
                </div>

                <div class="ui-g-12">
                    <button pButton icon="fa-arrow-circle-left" type="button" label="Back" (click)="backClicked()" class="ui-button-secondary"></button>
                  <button pButton type="submit" label="Save question" class="ui-button-info" [disabled]="formApplicantQuestions.invalid"></button>
                  <button pButton type="button" label="New question" class="ui-button-success" (click)="newQuestion()"></button>
                </div>

              </form>
            </div>
          </div>


          <!--
              Block to List questions on applicant
            -->

          <div class="ui-g">
            <div class="ui-g-12">

              <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText size="50" placeholder="Search">
              </div>

              <p-dataTable [value]="applicantQuestions" [responsive]="true" [rows]="10" [paginator]="true" emptyMessage="No questions available."
                [globalFilter]="gb" selectionMode="single" [(selection)]="applicantNewQuestion" (onRowSelect)="findByCodeQuestions(applicantNewQuestion.code)"
                (onRowUnselect)="newQuestion($event)" dataKey="code" #table>

                <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>

                <p-column field="type_question" header="Subject" [sortable]="true" styleClass="col-size" styleClass="col-size-subject"></p-column>

                <p-column field="question" header="Question" [sortable]="true" styleClass="col-size-question"></p-column>

                <p-column styleClass="col-size-buttom" header="Rating" field="score" [sortable]="true">
                  <ng-template let-applscore="rowData" pTemplate="body">
                    <p-rating [ngModel]="applscore.score" binary="true" [cancel]="false" readonly="false" name="scorerating" #scorerating="ngModel"></p-rating>
                  </ng-template>
                </p-column>

                <p-column styleClass="col-size-buttom">
                  <ng-template let-appl="rowData" pTemplate="body">
                    <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" (click)="findByCodeQuestions(appl.code)"
                      [disabled]="!auth.havePermission('ROLE_ADD_APPLICANT')"></button>
                    <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDeleteQuestion(appl.code)" [disabled]="!auth.havePermission('ROLE_REMOVE_APPLICANT')"
                      class="ui-button-danger"></button>
                  </ng-template>
                </p-column>

              </p-dataTable>

            </div>
          </div>

        </p-tabPanel>

      </p-tabView>
    </div>

  </div>


</div>
