<div class="container card-white">
  <form autocomplete="off" #applicantForm="ngForm" (ngSubmit)="updateApplicant(applicantForm)">
    <!-- <form autocomplete="off" #applicantForm="ngForm" (ngSubmit)="save(applicantForm)"> -->
    <div class="ui-g">
      <div class="ui-g-12">
        <p-panel header={{titlePage}} [style]="{'height':'100%'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">


          <div class="ui-g-12 ui-md-3 ui-fluid">
            <Label>Title : </Label>
            <span>{{applicant.applicant.job.title}}</span>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <Label>Position : </Label>
            <span>{{applicant.applicant.job.position}}</span>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid">
            <Label>Location : </Label>
            <span>{{applicant.applicant.job.location}}</span>
          </div>

          <div class="ui-g-12 ui-fluid">
            <hr>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <Label>Phone : </Label>
            <span>{{applicant.applicant.phone_number}}</span>
          </div>


          <div class="ui-g-12 ui-md-3 ui-fluid">
            <Label>Status : </Label>
            <span>{{applicant.applicant.status}}</span>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <Label>Date : </Label>
            <span>{{applicant.applicant.applicant_date | date:'dd/MM/yyyy'}}</span>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <Label>email : </Label>
            <a target="_blank" href="mailto:{{applicant.applicant.email}}">{{applicant.applicant.email}}</a>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <Label>Profile URL : </Label>
            <a target="_blank" href="{{applicant.applicant.profile_url}}">{{applicant.applicant.profile_url}}</a>
          </div>

        </p-panel>

      </div>

      <div class="ui-g-12">
        <p-tabView>
          <p-tabPanel header="Notes" leftIcon="fa-edit">

            <div class="ui-g-12 ui-md-1 ui-fluid">

              <label>Score</label>
              <p-spinner size="5" [(ngModel)]="applicant.score" [min]="0" [max]="5" name="score" #score="ngModel"></p-spinner>
              <p-rating [(ngModel)]="applicant.score" [cancel]="false" readonly="false" name="score" #score="ngModel"></p-rating>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid"></div>

            <div class="ui-g-6 ui-md-8 ui-fluid">
              <div>
                <label>Notes</label>
              </div>
              <textarea [rows]="15" [cols]="90" pInputTextarea name="notes" #notes="ngModel" [(ngModel)]="applicant.notes"></textarea>
            </div>

            <div class="ui-g-12">
              <button pButton type="button" label="Back" (click)="backClicked()"></button>
              <button pButton type="submit" label="Save evaluation" class="ui-button-info" [disabled]="applicantForm.invalid"></button>
            </div>

          </p-tabPanel>

          <p-tabPanel header="Questions" leftIcon="fa-question-circle">

          </p-tabPanel>

        </p-tabView>
      </div>

    </div>

  </form>
</div>
