<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Jobs</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="jobsweb" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="title" header="Title"></p-column>



      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>

</div>
