<div class="container card-white">
  <form autocomplete="off" #scheduleForm="ngForm" (ngSubmit)="addSchedule(scheduleForm)">

    <div class="ui-g">


      <div class="ui-g-12">
        <h1>{{titlePage}}</h1>
        <hr>
      </div>

      <!--
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <br>
        <span class="ui-float-label">
          <input pInputText type="text" id="float-input" name="title" #title="ngModel" [(ngModel)]="schedule.title" required>
          <label for="float-input">Title</label>
        </span>
      </div>
    -->

      <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="!fullnameDopdown">
        <label>Schedule</label>
        <p-dropdown name="title" id="float-input" [options]="applicants" placeholder="Select applicant" [autoWidth]="false" filter="true"
          [(ngModel)]="schedule.title" editable="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="!fullnameDopdown"></div>

      <div class="ui-g-6 ui-md-2 ui-fluid">
        <br>
        <p-checkbox [(ngModel)]="schedule.allDay" (onChange)="clearCalendar($event)" binary="true" label="All Day" name="allDay"
          #allDay="ngModel"></p-checkbox>
      </div>


      <div class="ui-g-6 ui-md-3 ui-fluid" *ngIf="!schedule.allDay">
        <br/>
        <span class="ui-float-label">
          <p-calendar dateFormat="dd/mm/yy" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"
            showButtonBar="true" id="float-input" name="start" #star="ngModel" [showIcon]="true" [(ngModel)]="schedule.start"
            required></p-calendar>
          <label for="float-input">Start date and time</label>
        </span>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" *ngIf="!schedule.allDay">
        <br/>
        <span class="ui-float-label">
          <p-calendar dateFormat="dd/mm/yy" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"
            showButtonBar="true" id="float-input" name="end" #end="ngModel" [showIcon]="true" [(ngModel)]="schedule.end"></p-calendar>
          <label for="float-input">End date and time</label>
        </span>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" *ngIf="schedule.allDay">
        <br/>
        <span class="ui-float-label">
          <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030" showButtonBar="true"
            id="float-input" name="end" #end="ngModel" [showIcon]="true" [(ngModel)]="schedule.start" required></p-calendar>
          <label for="float-input">Date</label>
        </span>
      </div>


      <div class="ui-g-6 ui-md-8 ui-fluid">
        <br/>
        <label>Notes</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" name="notes" #notes="ngModel" [(ngModel)]="schedule.notes"></textarea>
      </div>

      <div class="ui-g-12">
          <button pButton icon="fa-arrow-circle-left" type="button" label="Back" (click)="backClicked()" class="ui-button-secondary"></button>
        <button pButton type="submit" icon="fa-save" label="Save" class="ui-button-info" [disabled]="scheduleForm.invalid"></button>
      </div>

    </div>

  </form>
</div>
