<div class="container card-white">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="search()">
      <div class="ui-g-12 ui-fluid" class="form-inline">
        <br/>
        <input pInputText type="text" name="fullname" placeholder="Applicant name" [(ngModel)]="filter.fullname">
        <button pButton type="submit" icon="fa-search" pTooltip="Search" tooltipPosition="top"></button>
        {{codeJob}} {{title}}
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12" >
      <p-dataTable [value]="applicants" [responsive]="true" emptyMessage="No applicants available." [paginator]="true" [rows]="filter.itensPage"
        [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="changePage($event)" #table >

        <p-column header="Name">
          <ng-template let-appl="rowData" pTemplate="body">
            <span>
              <strong> {{appl.fullname}}</strong>
            </span>
            <br>
            <small>{{ appl.applicant_date | date:'dd/MM/yyyy' }}</small>
          </ng-template>
        </p-column>

        <p-column header="Contact">
          <ng-template let-appl="rowData" pTemplate="body">
            <span>{{appl.phone_number}}</span>
            <br>
            <small>
              <a target="_blank" href="mailto:{{appl.email}}">{{appl.email}}</a>
            </small>
          </ng-template>
        </p-column>


        <!--

                  <p-column field="email" header ="Email" >
            <ng-template let-appl="rowData" pTemplate type="body">
                <a target="_blank" href="mailto:{{appl.email}}">{{appl.email}}</a>
            </ng-template>
        </p-column>

        <p-column field="profile_url" header ="Profile" >
            <ng-template let-row="rowData" pTemplate type="body">
                <a target="_blank" href="{{row.profile_url}}">{{row.profile_url}}</a>
            </ng-template>
        </p-column>

                <p-column header="Date" styleClass="col-size">
          <ng-template let-appl="rowData" pTemplate="body">
            <span>{{ appl.applicant_date | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
      -->
        <p-column field="status" header="Status" styleClass="col-size"></p-column>



        <p-column field="job.title" header="Applied position"></p-column>

        <p-column styleClass="col-size" header="Rating">
          <ng-template let-appl="rowData" pTemplate="body">
            <p-rating [(ngModel)]="rating1" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
            <p-rating [(ngModel)]="rating2" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
            <p-rating [(ngModel)]="rating3" [cancel]="false" readonly="true" pTooltip="Evaluation of the candidate" tooltipPosition="top"></p-rating>
          </ng-template>
        </p-column>

        <p-column styleClass="col-size">
          <ng-template let-appl="rowData" pTemplate="body">
            <button pButton icon="fa-balance-scale" pTooltip="Evaluation of the candidate" tooltipPosition="top" [routerLink]="['/applicantnotes', appl.code]"></button>
            <button pButton icon="fa-calendar" pTooltip="Add the Applicant to an Interview Schedule" tooltipPosition="top" [routerLink]="['/schedules/newschedule', appl.fullname]"
            [disabled]="!auth.havePermission('ROLE_ADD_SCHEDULE')"></button>
            <button pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top" class="ui-button-warning" [routerLink]="['/applicants', appl.code]"
              [disabled]="!auth.havePermission('ROLE_ADD_APPLICANT')"></button>
            <button pButton icon="fa-trash" pTooltip="Delete" tooltipPosition="top" (click)="confirmationDelete(appl)" [disabled]="!auth.havePermission('ROLE_REMOVE_APPLICANT')"
              class="ui-button-danger"></button>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
  </div>



  <p-growl [(value)]="msgs"></p-growl>


</div>
