<div class="container">


  <div class="ui-g ui-fluid dashboard">
    <div class="ui-g-12 ui-md-4">
      <div class="card clearfix summary">
        <span class="title">Applicants</span>
        <span class="detail">New applicants</span>
        <span class="count visitors">{{total_newapplicants}}</span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="card clearfix summary">
        <span class="title">Applicants</span>
        <span class="detail">Total applicants</span>
        <span class="count purchases">{{total_applicants}}</span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="card clearfix summary">
        <span class="title">Jobs</span>
        <span class="detail">Jobs published</span>
        <span class="count revenue">{{total_jobs}}</span>
      </div>
    </div>




    <div class="ui-g-12 ui-md-12">
      <p-panel header="Schedule" [style]="{'height':'100%'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <p-schedule [events]="events" defaultDate="2018-02-10" [header]="scheduleHeader" ></p-schedule>
      </p-panel>

    </div>

    <div class="ui-g-12 ui-md-2">
        <button pButton label="Add Schedule" icon="fa-plus" class="ui-button-success" [routerLink]="['/schedules/newschedule']"></button>
    </div>


  </div>
