<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12 ui-fluid" class="form-inline">
        <input pInputText type="text" name="nome" placeholder="Job Title" [(ngModel)]="filtro.nome">
        <button pButton type="submit" label="Search"></button>
      </div>
    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="pessoas" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
        <p-column field="title" header="Title"></p-column>
        <p-column field="position" header="Position"></p-column>
        <p-column field="location" header="Location"></p-column>
        <p-column>
          <ng-template pTemplate="body">
            <button pButton icon="fa-search-plus" pTooltip="More details" tooltipPosition="top"></button>
            <button pButton type="submit" label="Apply Now" class="ui-button-success"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>

</div>
