<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="search()">
      <div class="ui-g-12 ui-fluid" class="form-inline">
        <input pInputText type="text" name="title" placeholder="Job Title" [(ngModel)]="filter.title">
        <button pButton type="submit" label="Search"></button>
      </div>
    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="jobsweb" [responsive]="true" emptyMessage="No jobs available." [paginator]="true" [rows]="filter.itensPage"
        [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="changePage($event)" #table>
        <p-column field="title" header="Title"></p-column>
        <p-column field="position" header="Position"></p-column>
        <p-column field="location" header="Location"></p-column>
        <p-column field="publication" header="Posted"></p-column>
        <p-column>
          <ng-template let-job="rowData" pTemplate="body">
            <button pButton icon="fa-search-plus" pTooltip="More details" tooltipPosition="top" (click)="showJobDetails(job)"></button>
            <button pButton type="submit" label="Apply Now" icon="fa-plus" tooltipPosition="top" pTooltip={{job.title}} class="ui-button-success"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <form autocomplete="off" align="center" #alertForm="ngForm" >
    <div class="ui-g">
      <div class="ui-g-12">
        <h3 align="center">Sign Up for Alerts</h3>
        <p> Join our talent community and get MyCareer news and job alerts delivered to your inbox.</p>
        <div align="center">
          <label>Email</label>
          <input pInputText type="text" [(ngModel)]="email" name="email" placeholder="name@domain.com" #emailAlert1="ngModel" #emailAlert>
          <p *ngIf="emailAlert1.errors?.emailAlert">error message</p>

          <button pButton type="submit" label="Sign Up" [disabled]="addAlert.valid" (click)="addAlert(emailAlert.value)"></button>

        </div>
      </div>
    </div>
  </form>

  <p-sidebar [(visible)]="display" [fullScreen]="true" [baseZIndex]="10000" #title>
      <h1 style="font-weight:normal">{{jobTitle}}</h1>
      <hr>
      <p innerHtml="{{ jobDescription }}">
  </p-sidebar>

  <p-growl [(value)]="msgs"></p-growl>

</div>

