<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">

      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Search">
        <i class="fa fa-bars"></i>
        <span>
          <strong>Positions Available</strong>
        </span>
      </div>

      <p-dataTable [value]="jobsweb" [responsive]="true" [rows]="15" [paginator]="true" emptyMessage="No Positions available."
        [globalFilter]="gb" #table>

        <p-column field="title" header="Title" [sortable]="true"></p-column>

        <p-column field="position" header="Position" [sortable]="true"></p-column>

        <p-column field="location" header="Location" [sortable]="true"></p-column>

        <p-column header="Publication" [sortable]="true">
          <ng-template let-job="rowData" pTemplate="body">
            <span>{{ job.publication | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>

        <p-column>
          <ng-template let-job="rowData" pTemplate="body">
            <button pButton icon="fa-search-plus" pTooltip="More details" tooltipPosition="top" (click)="showJobDetails(job)"></button>
            <button pButton type="submit" label="Apply Now" icon="fa-plus" tooltipPosition="top" pTooltip={{job.title}} class="ui-button-success"
              [routerLink]="['/applicantadd', job.code, job.title]"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <form autocomplete="off" align="center" #alertForm="ngForm" (ngSubmit)="addAlert(emailAlert.value)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h3 align="center">Sign Up for Alerts</h3>
        <p> Join our talent community and get MyCareer news and job alerts delivered to your inbox.</p>
        <div align="center">
          <label>Email</label>

          <input pInputText type="text" class="form-control" [(ngModel)]="email" name="emailf" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            #emailAlert="ngModel">

          <button pButton type="submit" label="Sign Up" [disabled]="alertForm.invalid"></button>

        </div>
      </div>
    </div>
  </form>

  <p-sidebar [(visible)]="display" [fullScreen]="true" [baseZIndex]="10000" #title>
    <h1 style="font-weight:normal">{{jobTitle}}</h1>
    <hr>
    <p innerHtml="{{ jobDescription }}">
  </p-sidebar>

  <p-growl [(value)]="msgs"></p-growl>

</div>
